<div class="jumbotron">

    <div class="row">
        <div class="col-md-12">
            <h2>Simple user entity CRUD app with Cassandra, SpringBoot, AngularJS, ES6</h2>
        </div>
    </div>

    <br />
    <hr />

    <div ng-if="$ctrl.users.length">
        <form>
            <div class="table-container">
                <span style="margin-left:10px;margin-right:182px;">id</span>
                <span style="margin-right:126px;">First name</span>
                <span style="margin-right:125px;">Last name</span>                
                <span>Email</span>
                <div class="table-row" ng-repeat="currentUser in $ctrl.users">
                    <div class="data-col">
                        <input class="form-control row-cell ng-untouched" ng-model="currentUser.id">
                        <input class="form-control row-cell ng-touched" ng-model="currentUser.fname">
                        <input class="form-control row-cell ng-touched" ng-model="currentUser.lname">
                        <input class="form-control row-cell ng-touched" ng-model="currentUser.email">
                    </div>

                    <div class="controls-col">
                        <button class="btn btn-info btn-block row-cell" ng-click="$ctrl.updateUser(currentUser)">
                            <i class="fa fa-save fa-lg"></i>
                        </button>
                        <button class="btn btn-danger btn-block row-cell" ng-click="$ctrl.deleteUser(currentUser.id)">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>

                <div class="table-row">

                    <div class="data-col">
                        <input class="form-control row-cell ng-touched" ng-model="$ctrl.userToCreate.id">
                        <input class="form-control row-cell ng-touched" ng-model="$ctrl.userToCreate.fname">
                        <input class="form-control row-cell ng-touched" ng-model="$ctrl.userToCreate.lname">
                        <input class="form-control row-cell ng-touched" ng-model="$ctrl.userToCreate.email">
                    </div>

                    <div class="controls-col">
                        <button class="btn btn-success btn-block row-cell" ng-click="$ctrl.createUser($ctrl.userToCreate)">
                            <i class="fa fa-plus fa-lg"></i>
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>

    <hr />
    <br />

</div>