<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app.feature-a">User entity CRUD app</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- <li ui-sref-active="active"><a ui-sref="app.feature-a">Feature A</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.feature-b">Feature B</a></li> -->
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <!-- <li><user-info-component name="$ctrl.name"></user-info-component></li> -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" ui-view></div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-medium fa-lg"></i></a> <a href="https://medium.com/@tomastrajan">Medium</a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-github fa-lg"></i> <a href="https://github.com/tomastrajan">Github</a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-twitter fa-lg"></i> <a href="https://twitter.com/tomastrajan">Twitter</a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-stack-overflow fa-lg"></i> <a href="http://stackoverflow.com/users/2650426/tomastrajan?tab=profile">StackOverflow</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">2018</p>
                </div>
            </div>
        </div>
    </footer>

</div>