/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 145px;
    padding-top: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 0;
}
.row {
    padding: 0px 15px
}

.footer > .container {
    padding: 15px;
    text-align: center;
}

.footer > .container a {
    font-weight: bold;
}

.footer > .container a:hover {
    text-decoration: none;
}

.footer .row div {
    padding: 10px 0px 0px 0px;
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.table-container .table-row {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
}
.table-container .table-row .data-col {
    display: flex;
    flex-flow: row wrap;
}
.table-container .table-row .controls-col {
    display: flex;
    flex-flow: row wrap;
    margin-left: 30px;
}
.table-container .table-row .row-cell {
    width: unset;
}
.table-container .table-row .btn-info {
    padding: 4px 10px;
}
.table-container .table-row .btn-success {
    padding: 6px 10px;
}
.table-container .table-row .btn-danger {
    padding: 6px 10px;
    margin: 0;
}

.todo {
    cursor: pointer;
}
.todo .done {
    color: #006600;
}

user-info-component {
    position: relative;
    top: 15px;
}